/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.07.2020, 21:03:30
    Author     : Andrei Oleniuc
*/

.pane{
    -fx-background-color: linear-gradient(to top,#031249,#0a1f6e);
}
.textField{
    -fx-background-color: #142455;
    -fx-text-inner-color: #5b7cb3;
}

.loginBtn{
    -fx-background-color: linear-gradient(to right,#3721ba,#6e32f7);
}
.tabelle{
    -fx-background-color: white;
    -fx-text-inner-color: #5b7cb3;
}

.name{
    -fx-background-color: grey;
    -fx-text-fill: red;
}
.sideBar{
    -fx-background-color:#301e78;
}
.logo{
    -fx-background-color:#211454;
}
.backgroundUI{
   -fx-background-color: linear-gradient(to top,#031249,#0a1f6e);
}
.btn{
    -fx-background-color: #301e78;
}